# build and IDE
target/
output/
.idea/
.vscode/
*.iml
*.log

# large binaries or tools
*.exe
*.msi
matsim-libs/

# optional: only ignore large raw input files, not the whole folder
# DO NOT ignore full input/ if you want reproducibility
# input/gtfs/
# input/v6.4/berlin-v6.4-network-with-pt.xml
